
body, html, .container-fluid {
         height: 100%;
         width: 100%;
    }

#contents {
    padding: 0;
    margin: 2% auto;
    width: 90%;
    
}

#expressions {
    height: 60%; 
    display: block;
    background-color: white;
    border: 1px black dotted;
    margin: 1%;
    display: flex;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 100%;
    
}

#functionList {
    height: 20%;
    background-color: #DDDDDD;
    margin: 1%;

}


.function {
    float: left;
    display: inline-block;
    width: 19%;
    text-align: center;
    margin:auto auto;
    height: 30%;

}



/*div:empty {
    width: 100px;
    background-color: red;
}*/
.params {
    /*border: 1px black dashed;*/
    height: 98%;
    /*clear: both;*/
    /*float: left;*/
    
       
    background-color: gray;
    margin:0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#919191+1,dbdbdb+51,a5a5a5+100 */
background: rgb(145,145,145); /* Old browsers */
background: -moz-linear-gradient(left, rgba(145,145,145,1) 1%, rgba(219,219,219,1) 51%, rgba(165,165,165,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(145,145,145,1) 1%,rgba(219,219,219,1) 51%,rgba(165,165,165,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(145,145,145,1) 1%,rgba(219,219,219,1) 51%,rgba(165,165,165,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#919191', endColorstr='#a5a5a5',GradientType=1 ); /* IE6-9 */ś
}

.functionName{
    /*border: 1px black dashed;*/
    height: 98%;
    /*clear: both;*/
    /*float: left;*/
   text-align: center;
    width: 5%;
    margin:0;
    

    
}
