
body, html,.container-fluid {
    height: 100%;
    width: 100%;
}

#contents {
    padding: 0;
    margin: 2% auto;
    width: 90%;
    
}

/* Expression Area */
#expressions {
    height: 60%; 
    display: block;
    background-color: white;
    border: 1px black dotted;
    margin: 0;
    display: flex;
    padding: 0.5% 0.5%;
    width: 100%;
    border-radius: 10px;
    
}

/* Draggable function list */
#functionList {
    height: 15%;
    background-color: #F7F7F7;
    margin: 0.5% auto;
    border: 1px black solid;
    border-radius: 10px;
}

/* Each draggable and droppable  function div */
.function {
    float: left;
    width: 19%;
    text-align: center;
    margin:auto auto;
    height: 30%;
    border-radius: 10px;
    
}


/* Newly Created placeholder div after dropping */
.params {
    border: 1px black solid;
    border-color: rgba(0,0,0,0.25);
    height: 98%;    
    display: inline-block;    
    padding: 1% 0;    
    margin:0;
    border-radius: 10px;  

}


/* Initial dropped function. One that is dropped the first time on the expression area */
.functionName{    
    height: 98%;    
    text-align: center;
    display: inline-block;
    margin:0;    
    width: 10%;
    
       
}

#clear,#clearRow {
    margin: 1% auto ;
}

.details li{
  display: inline;
}